{{#each columns}}
<div class="grid-header-column js-move-column-dragger js-dropable {{headerColumnClass}} " title="{{title}}"
    draggable={{isEditModeString}}>
    {{#unless alignRight}}<div class="grid-header-column-title js-dropable">
        {{title}}</div>
    {{/unless}}
    {{#if sortingAsc}}<span class="sort_down js-dropable"></span>{{/if}}
    {{#if sortingDesc}}<span class="sort_up js-dropable"></span>{{/if}}
    <span class="js-help-text-region collection-grid-header__help js-dropable"></span>
    {{#if alignRight}}<div class="js-move-column-dragger grid-header-column-title js-dropable">
        {{title}}
    </div>
    {{/if}}
    <div class="js-resize-column-dragger grid-column-resize-dragger"></div>
    <div class="js-visibility-btn grid-column-toggle-visibility-btn {{iconPrefixer eyeIconClass}} js-dropable">
    </div>
</div>
{{/each}}