{{#if url}}
    <a href="{{url}}" class="popout-menu__txt" {{#if tooltip}}title="{{tooltip}}"{{/if}}>{{name}}</a>
{{else}}
    <div class="popout-menu__txt" {{#if tooltip}}title="{{tooltip}}"{{/if}}>{{name}}</div>
{{/if}}