<div class="layout__popup-view-window js-window">
    <div class="layout__popup-view-header js-header">
        <span class="layout__popup-view-header-text js-header-text">{{headerText}}</span>
        <span class="layout__popup-view-header__btn {{iconPrefixer goTo}} js-new-tab"></span>
        <span class="layout__popup-view-header__btn {{iconPrefixer expand}} {{iconPrefixer minimize}} js-fullscreen-toggle"></span>
        <span class="layout__popup-view-header__btn layout__popup-view-header__btn_equate {{iconPrefixer close}} js-close"></span>
    </div>
    <div class="layout__popup-view-content js-content-region"></div>
    <div class="layout__popup-view-button-list js-buttons-region"></div>
    <div class="js-loading-region"></div>
</div>