{{#if customHtml}}
    {{customHtml}}
{{else}}
    <span class="radiobutton"></span>
    <span class="radiobutton-text" title="{{title}}">
        {{#if displayHtml}}
            {{{displayHtml}}}
        {{else}}
            {{displayText}}
        {{/if}}
    </span>
{{/if}}
