{{#if customTemplate}}
    {{{customTemplate}}}
{{else}}
    {{#if url}}
        <a href="{{url}}" target="_blank" tabindex="-1">{{text}}</a>
    {{else}}
        <span>{{text}}</span>
    {{/if}}
{{/if}}
