{{#if customTemplate}}{{{customTemplate}}}{{/if}}
{{#if url}}
<a href="{{url}}" target="_blank" class="bubbles-text" tabindex="-1">{{text}}</a>
<a href="{{url}}" target="_blank" class="bubbles-subtext" tabindex="-1">{{subtext}}</a>
{{else}}
<span class="bubbles-text">{{text}}</span>
{{#if subtext}}
<span class="bubbles-subtext">{{subtext}}</span>
{{/if}}
{{/if}}