{{#if showCheckboxes}}
    <span class="checkbox js-checkbox datalist-checkbox">
        <svg class="svg-icons svg-icons_checked svg-icons_checked-reference">
            <use xlink:href="#icon-checked"/>
        </svg>
    </span>
{{/if}}
<div class="datalist-container-item">
    {{#if showIcons}}
      <i class="{{iconPrefixer iconType}} datalist-icon" aria-hidden="true"></i>
    {{/if}}
    <div class="datalist-text-container">
        <span class="datalist-container-text" title="{{text}}">{{text}}</span>
        <span class="datalist-container-subtext" title="{{subtext}}">{{subtext}}</span>
    </div>
</div>
{{#if url}}
    <a class="datalist-link" href="{{url}}" target="_blank" title="{{url}}"><i class="{{iconPrefixer iconLink}} datalist-icon" aria-hidden="true"></i></a>
{{/if}}
