<div class="datalist_user-bubble">
    <div class="user-bubble_img">
        {{#if avatarUrl}}
            <img src="{{avatarUrl}}" alt="{{abbreviation}}">
        {{else}}
            {{abbreviation}}
        {{/if}}
    </div>
    {{name}}
</div>
