<span class="uri-form">
    <a href={{href}} title="" class="js-link" class="{{classHiddenUri}}" target="_blank">{{value}}</a>
    <input type="{{type}}" class="{{classHiddenInput}} uri-input js-input" {{#if maxLength}}maxlength="{{maxLength}}"{{/if}} {{#if fieldId}} id="{{fieldId}} {{/if}}">
</span>
<i class=" js-icon-edit {{iconPrefixer 'pencil'}} icon-edit_uri bubbles__caret {{classHiddenUri}}" title={{localize 'CORE.FORM.EDITORS.CODE.EDIT'}}></i>
