<span class="uri-form">
    <a href="" title="" class="js-link" class="hidden" target="_blank"></a>
    <input type="{{type}}" class="uri-input js-input" {{#if maxLength}}maxlength="{{maxLength}}"{{/if}} {{#if fieldId}} id="{{fieldId}} {{/if}}">
</span>
<i class=" js-icon-edit {{iconPrefixer 'pencil'}} icon-edit_uri bubbles__caret hidden" title={{localize 'CORE.FORM.EDITORS.CODE.EDIT'}}></i>
