<div class="user-edit-wrp">
    <div class="simple-field_container" style="margin-top: 0">
        {{#if avatarUrl}}
            <img src="{{avatarUrl}}" alt="{{abbreviation}}">
        {{else}}
            {{abbreviation}}
        {{/if}}
    </div>
    {{name}}
</div>
