{{#if showCheckboxes}}
    <span class="checkbox js-checkbox datalist-checkbox">
        <svg class="svg-icons svg-icons_checked svg-icons_checked-reference">
            <use xlink:href="#icon-checked"/>
        </svg>
    </span>
{{/if}}
<i class="fas fa-{{iconType}} datalist-icon" aria-hidden="true"></i>
<div class="datalist-text-container">
    <span class="datalist-container-text" title="{{text}}">{{text}}</span>
    <span class="datalist-container-subtext" title="{{subtext}}">{{subtext}}</span>
</div>