<span class="js-anchor">
    {{#if text}}
        {{#if avatarUrl}}
            <span style="background-image: url({{avatarUrl}});" class="js-avatar member-icon"></span>
        {{else}}
            <span class="member-icon member-icon_abr">
                {{abbreviation}}
            </span>
        {{/if}}
    {{else}}
        <span class="member-icon member-icon_empty">
    </span>
    {{/if}}
</span>
<span class="js-text reference-field__txt btn-wrp">
    {{#if text}}
        {{text}}
    {{else}}
        <span class="member-text__empty">{{localize 'CORE.FORM.EDITORS.MEMBERSELECT.NOTSET'}}</span>
    {{/if}}
    <div class="svg-icons-wrp">
    <div class="js-clear-button svg-icons-wrp__remove">
        <svg class="svg-icons svg-icons_remove"><use xlink:href="#svg-icons_remove" /> </svg>
    </div>
</div>
</span>